body{
    background-image: url(https://img.freepik.com/free-photo/abstract-dark-background-with-flowing-colouful-waves_1048-13124.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}


.ota {
  display: flex;
  background: white;
  border-radius: 1rem;
  background: linear-gradient(135deg, #23272f 0%, #14161a 100%);
  box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;

  margin-left: 500px;
  
}

h1{
    text-align: center;
    color: white;
}

input {
  border-radius: 0.8rem 0 0 0.8rem;
  background: #23272f;
  box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0);
  width: 250px;
  flex-basis: 75%;
  padding: 1rem;
  border: none;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
  
}

input:focus {
  border: 1px solid #ffd43b;
  outline: none;
  box-shadow: inset 0px 0px 10px rgba(255, 102, 0, 0.5),
    inset 0px 0px 10px rgba(255, 212, 59, 0.5),
    0px 0px 100px rgba(255, 212, 59, 0.5), 0px 0px 100px rgba(255, 102, 0, 0.5);
}

input {
  width: 500px;
  
}

.text{
    width: 500px;
    margin-left: 500px;
}

.ota {
  flex-basis: 25%;
  padding: 1rem;
  background: linear-gradient(
    135deg,
    rgb(255, 212, 59) 0%,
    rgb(255, 102, 0) 100%
  );
  box-shadow: 0px 0px 1px rgba(255, 212, 59, 0.5),
    0px 0px 1px rgba(255, 102, 0, 0.5);
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #23272f;
  border: none;
  width: 500px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.2s ease-in-out;
  
}

button {
  flex-basis: 25%;
  padding: 1rem;
  background: linear-gradient(
    135deg,
    rgb(255, 212, 59) 0%,
    rgb(255, 102, 0) 100%
  );
  box-shadow: 0px 0px 1px rgba(255, 212, 59, 0.5),
    0px 0px 1px rgba(255, 102, 0, 0.5);
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #23272f;
  border: none;
  width: 500px;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: linear-gradient(
    135deg,
    rgb(255, 212, 59) 50%,
    rgb(255, 102, 0) 100%
  );
  box-shadow: 0px 0px 100px rgba(255, 212, 59, 0.5),
    0px 0px 100px rgba(255, 102, 0, 0.5);
}

